/* Define custom properties for better styling control */

:root {
    --dominant-color: #ae7a52;

    --secondary-color: #f9f9f9;
    --theme-color: #40c6ec;
    --complementary-color: #f38a84;
    --text-font: Arial, Helvetica, sans-serif;
    --big-text-size: 1.1rem;
    --regular-text-size: 0.8rem;
    --small-text-size: 0.1rem;

    --shadow-color: rgb(66, 66, 66);
}

/* use a more-intuitive box-sizing model */


*, *::before, *::after {
    box-sizing: border-box;
}

/*  remove default margin */
* {
    margin: 0;
}

body {
    /* add accessible line-height */
    line-height: 1.5;
    /* improve text rendering */
    -webkit-font-smoothing: antialiased;

    height: 100vh;
    width: 100vw;

    display: flex;

    font-family: var(--text-font);
    color: var(--secondary-color);

}
/* improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
/* inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}
/* avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
/* improve line wrapping */
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/* off_the_button_styles */

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }

html *::-webkit-scrollbar {
    display: none;
  }

/* Dashboard Container: */
  
  
#app {
    flex: auto;

    display: grid;
    grid-template-columns: 20fr 80fr;
    grid-template-rows: 10fr 45fr 45fr;

    background-color: var(--secondary-color);

    width: 100%;
    height: 100%;

    overflow-x: auto;
}

/* Header: */

.header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding-left: 0.5%;

    background-color: var(--theme-color);
    color: var(--secondary-color);

    box-shadow: 0px 1px 1px 0px var(--theme-color);
}


/* The sidebar */


.sidebar {
    grid-column: 1 / 2;
    grid-row: 2 / 4; 

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 10fr 30fr 30fr 30fr;

    background-color: var(--dominant-color);

    min-width: 308px;
}

.sidebar > :is(div, form) {
    font-size: var(--regular-text-size);
    color: var(--secondary-color);
}

.sidebar> .add_book_header {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    grid-column: 1 / 3;
    grid-row: 1 / 2;

    padding-bottom: 2.5%;
}

.sidebar > form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);

    padding: 5px;

    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

form>label {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    font-size: var(--small-text-size);

    padding-right: 1rem;
    
    grid-column: 1 / 2;
}

label>p {
    cursor: pointer;
}

form>input {
    height: 55%;
    width: 90%;

    align-self: center;

    border-radius: 0.2rem;

    outline: none;
    border: none;

    background-color: var(--secondary-color);
    color: var(--dominant-color);

    grid-column: 2 / 4;
}

form>#read_status {
    accent-color: var(--theme-color);

    height: 20px;
    width: 20px;

    justify-self: start;
}

form>button {
    border: solid 0.5px var(--shadow-color);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 90%;

    justify-self: center;

    border-radius: 0.5rem;

    color: var(--secondary-color);
    font-weight: bold;

    grid-column: span 3;
    grid-row: 5 / 6;
}

form>button:hover {
    border-left: solid 0.5px var(--secondary-color);
    border-right: solid 0.5px var(--secondary-color);
}

form>button:active {
    scale: 0.99;
}

#sidebar_footer {
    grid-column: 1 / 3;
    grid-row: 4 / 5;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    padding-bottom: 1rem;

    font-size: var(--regular-text-size);
}

#sidebar_footer a {
    color: var(--theme-color);

    text-decoration: none;
}

#sidebar_footer a:visited {
    text-decoration: none;
}
/* The main content */


.main_content {
    grid-column: 2 / 3;
    grid-row: 2 / 4;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(366px, 1fr));
    grid-auto-rows: minmax(440px, 460px);
    gap: 30px;

    min-width: 400px;
    min-height: 800px;

    padding: 30px;

    color: var(--dominant-color);

    overflow-y: auto;
}

.main_content>.card {
    border-top: 0.2rem solid var(--complementary-color);
    border-left: 0.5rem solid var(--complementary-color);
    box-shadow: 3px 4px 2px 0px var(--theme-color);
    border-radius: 1rem;

    display: grid;
    grid-template-rows: repeat(4, 1fr);

    padding-left: 0.5rem;
    padding-right: 1rem;

    background-color: var(--dominant-color);
    color: var(--secondary-color);

    position: relative; /* To position the delete button */
}

.card>div {
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
}

.card>.title {
    font-size: var(--big-text-size);
    color: var(--secondary-color);
    text-shadow: 1px 0px 2px var(--complementary-color);
}

.card>.author,
.card>.pages,
.card>.read_toggle {
    font-size: var(--regular-text-size);
}

/* Toggle button behavior. Customized checkbox courtesy of: https://www.themedevhub.com/tools/css-switch-collection  */

.read_toggle .tgl {
  display: none;
}

.read_toggle,
.read_toggle *,
.read_toggle *:after,
.read_toggle *:before {
  box-sizing: border-box;
}

.read_toggle .tgl::selection,
.read_toggle .tgl:after::selection,
.read_toggle .tgl:before::selection,
.read_toggle .tgl *::selection,
.read_toggle .tgl *:after::selection,
.read_toggle .tgl *:before::selection,
.read_toggle .tgl + .tgl_btn::selection {
  background: none;
}

.read_toggle .tgl + .tgl_btn {
  outline: 0;
  display: block;
  width: 4.5rem;
  height: 2rem;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.read_toggle .tgl + .tgl_btn:after,
.read_toggle .tgl + .tgl_btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}

.read_toggle .tgl + .tgl_btn:after {
  left: 0;
}

.read_toggle .tgl + .tgl_btn:before {
  display: none;
}

.read_toggle .tgl:checked + .tgl_btn:after {
  left: 50%;
}

.read_toggle .tgl-flip + .tgl_btn {
  padding: 2px;
  transition: all 0.2s ease;
  font-family: sans-serif;
  perspective: 100px;
}

.read_toggle .tgl-flip + .tgl_btn:after,
.read_toggle .tgl-flip + .tgl_btn:before {
  transition: all 0.4s ease;
  width: 100%;
  position: absolute;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.read_toggle .tgl-flip + .tgl_btn:after {
  content: attr(data-tg-on);
  background: var(--theme-color);
  transform: rotateY(-180deg);
}

.read_toggle .tgl-flip + .tgl_btn:before {
  border: 1px solid var(--secondary-color);
    
  background: var(--dominant-color);
  color: var(--secondary-color);

  content: attr(data-tg-off);
}

.read_toggle .tgl-flip + .tgl_btn:active:before {
  transform: rotateY(-20deg);
}

.read_toggle .tgl-flip:checked + .tgl_btn:before {
  transform: rotateY(180deg);
}

.read_toggle .tgl-flip:checked + .tgl_btn:after {
  transform: rotateY(0);
  left: 0;

  background: var(--theme-color);
}

.read_toggle .tgl-flip:checked + .tgl_btn:active:after {
  transform: rotateY(20deg);
}

/* Delete button: */

.delete_button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;

    display: flex;

    width: 1.5rem;
    height: 1.5rem;
}

.delete_button>button[type="button"] {
    flex: auto;
    
    opacity: 0;
    pointer-events: none;
}

.card:hover button[type="button"] {
    opacity: 1;
    transition: opacity 1s ease-in-out;

    background-color: var(--complementary-color);
    color: var(--secondary-color);
    pointer-events: auto;


    width: 1.5rem;
    height: 1.5rem;

    border-radius: 40%;
}

