/* use a more-intuitive box-sizing model */

:root {
    --secondary-color: rgb(86, 86, 86);

    --main-color: #cdcdcd;
    --header-bg-color: #5B7FA3;
    --text-font: Arial, Helvetica, sans-serif;
    --regular-text-size: 0.8rem;
    --small-text-size: 0.1rem;

    --shadow-color: rgb(66, 66, 66);
}

*, *::before, *::after {
    box-sizing: border-box;
}

/*  remove default margin */
* {
    margin: 0;
}

body {
    /* add accessible line-height */
    line-height: 1.5;
    /* improve text rendering */
    -webkit-font-smoothing: antialiased;

    height: 100vh;
    width: 100vw;

    display: flex;

    font-family: var(--text-font);
    color: var(--main-color);

}
/* improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
/* inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}
/* avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
/* improve line wrapping */
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/* off_the_button_styles */

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }


  
  
#app {
    flex: auto;

    display: grid;
    grid-template-columns: 20fr 80fr;
    grid-template-rows: 10fr 45fr 45fr;

    overflow: hidden;

    background-color: var(--main-color);

    width: 100%;
    height: 100%;

    overflow-x: auto;
}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding-left: 0.5%;

    background-color: var(--header-bg-color);
    color: var(--main-color);

    box-shadow: 0px 1px 5px 0px var(--shadow-color);
}

/* The sidebar */


.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 4; 

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 10fr 30fr 30fr 30fr;

    background-color: var(--secondary-color);

    min-width: 308px;
}

.sidebar > :is(div, form) {
    font-size: var(--regular-text-size);
    color: var(--main-color);
}

.sidebar> .add_book_button {
    display: flex;
    justify-content: center;
    align-items: center;

    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.add_book_button>button {
    border: solid 0.5px var(--shadow-color);

    width: 50%;
    height: 45%;

    display: flex;
    align-items: center;
    justify-content: center;


    border-radius: 0.5rem;

    color: var(--main-color);
}

.add_book_button>button:hover {
    border-left: solid 0.5px var(--main-color);
    border-right: solid 0.5px var(--main-color);
}

.add_book_button>button:active {
    scale: 0.99;
}

.sidebar > form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);

    padding: 5px;

    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

form>label {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    font-size: var(--small-text-size);

    padding-right: 1rem;
    
    grid-column: 1 / 2;
}

label>p {
    cursor: pointer;
}

form>input {
    height: 55%;
    width: 90%;

    align-self: center;

    border-radius: 0.2rem;

    outline: none;
    border: none;

    background-color: var(--main-color);
    color: var(--secondary-color);

    grid-column: 2 / 4;
}

form>#read_status {
    accent-color: var(--header-bg-color);

    height: 20px;
    width: 20px;

    justify-self: start;
}

form>button {
    border: solid 0.5px var(--shadow-color);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 90%;

    justify-self: center;

    border-radius: 0.5rem;

    color: var(--main-color);

    grid-column: span 3;
    grid-row: 5 / 6;
}

form>button:hover {
    border-left: solid 0.5px var(--main-color);
    border-right: solid 0.5px var(--main-color);
}

form>button:active {
    scale: 0.99;
}

#sidebar_footer {
    grid-column: 1 / 3;
    grid-row: 4 / 5;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    padding-bottom: 1rem;
}

/* The main content */


.main_content {
    grid-column: 2 / 3;
    grid-row: 2 / 4;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(300px, 350px);
    gap: 30px;
   

    overflow: auto;

    min-width: 800px;
    min-height: 800px;

    padding: 30px;

   
    color: var(--secondary-color);
}

.main_content>.card {
    border: 1px solid var(--secondary-color);
    border-radius: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
}




